:root {
  --562-black: #000000;
  --562-darkgrey: #474747;
  --562-mediumgrey: #5D5D5D;
  --562-lightgrey: #A59EA6;
}

@font-face {
  font-family: ClearSansLightRegular;
  src: url(fonts/ClearSans-Light.woff);
}

@font-face {
  font-family: ClearSansMediumRegular;
  src: url(fonts/ClearSans-Medium.woff);
}

@font-face {
  font-family: ClearSansItalic;
  src: url(fonts/ClearSans-Italic.woff);
}

@font-face {
  font-family: ClearSansBold;
  src: url(fonts/ClearSans-Bold.woff);
}


body.impress-supported {
  color: var(--562-darkgrey);
  /*height: 600px;*/
  background: linear-gradient(
    to top,
    transparent,
    transparent 3%,
    var(--562-mediumgrey) 3%,
    var(--562-mediumgrey) 4%,
    var(--562-black) 4%,
    var(--562-black) 5%,
    transparent 5%,
    transparent
  ),
  radial-gradient(
    transparent 95%,
    var(--562-lightgrey)
  );
  font-family: ClearSansLightRegular;
  font-size: 200%;
}

div.step {
  background: white;
}

h1 {
  font-family: ClearSansMediumRegular;
}

strong {
  font-family: ClearSansBold;
}

em {
  font-family: ClearSansItalic;
}

.strike {
  text-decoration: line-through;
}

div.step#lots {
  font-size: 1000%;
  background: transparent;
}
